/*Media - Stylesheet*/
@media (min-width: 0px) and (max-width: 1024px) {
    .top-nav ul.left li {
        margin-right: 25px;
    }
    .top-nav ul li a{
        font-size: 13px;
    }
    .logo{
        padding: 30px 0px;
    }
    .logo a img {
        height: 26px;
    }
    .navbarc ul li{
        margin-right: 20px;
    }
    .navbarc ul li a{
        font-size: 13px;
    }
    .navbarc ul li.lang-btn a{
        font-size: 14px;
    }
    .jumbo-n .heading {
        font-size: 18px;
        margin-bottom: 7px;
    }
    .jumbo-n .big-img a .text .title{
        font-size: 19px;
        line-height: 21px;
    }
    .home-categ h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .home-categ h3 span.small-txt{
        font-size: 14px;
    }
    .home-categ .pro-arti .tit {
        font-size: 14px;
    }
    .home-categ .pro-arti .dis {
        font-size: 13px;
    }
    .home-categ .pro-arti .date{
        font-size: 12px;
    }
    .weather-widget .location{
        font-size: 15px;
    }
    .weather-widget .weather-main{
        margin-top: 9%;
        margin-bottom: 11%;
    }
    .weather-widget .weather-main .img{
        margin-bottom: 15px;
        width: 86px;
    }
    .weather-widget .weather-aci .aci-box img {
        max-width: 25px;
        max-height: 23px;
    }
    .directory-widget a{
        font-size: 14px;
    }
}
@media (min-width: 0px) and (max-width: 769px) {
    .top-nav ul li a {
        font-size: 12px;
        line-height: 28px;
    }
    .top-nav ul.right li a img{
        margin-left: 13px;
        margin-top: -3px;
    }
    .navbarc ul li{
        display: none;
    }
    .navbarc ul li.nav-opener,
    .navbarc ul li.lang-btn{
        display: block;
    }
    .navbarc ul li.nav-opener a {
        padding: 0px 0px;
    }
    .navbarc ul li.lang-btn a{
        padding: 4.5px 27px;
    }
    .jumbo-n {
        margin-top: 15px;
    }
    .jumbo-n .container{
        column-gap: 26px;
    }
    .jumbo-n .latest::after{
        top: 26px;
        right: -14px;
    }
    .jumbo-n .big-img{
        margin-bottom: 20px;
    }
    .jumbo-n .heading {
        font-size: 17px;
        margin-bottom: 6px;
    }
    .jumbo-n .big-img a .text .title {
        font-size: 17px;
    }
    .jumbo-n .big-img a .text .disc{
        font-size: 12px;
        line-height: 14px;
        width: 80%;
    }
    .jumbo-n .two-column{
        column-gap: 20px;
    }
    .jumbo-n .box a{
        grid-gap: 8px;
        grid-template-columns: 1fr 60px;
    }
    .jumbo-n .box a img {
        height: 50px;
        object-fit: cover;
    }
    .pop-video .black-box{
        padding: 22px 28px 23px;
    }
    .home-categ {
        margin-top: 20px;
    }
    .home-categ h3 {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .home-categ h3 a{
        font-size: 14px;
    }
    .home-categ .three-col{
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 25px;
    }
    .home-categ .widget-box {
        grid-column: span 2;
        padding: 0px 25%;
    }
    .weather-widget .weather-main {
        margin-top: 0%;
        margin-bottom: 6%;
    }
    .weather-widget .weather-aci{
        padding-bottom: 15px;
    }
    .home-categ .three-col-equal{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .home-categ .pro-arti .thumb{
        height: 250px;
        object-fit: cover;
    }
    .home-categ .directory-widget{
        height: 219px
    }
    .gold-widget{
        height: auto;
    }
    .gold-widget .g-box{
        position: relative;
    }
    .gold-widget .cost{
        position: relative;
        bottom: 0px;
        margin-top: 15px;
        padding-bottom: 21px;
    }
    .footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer .container .box:first-child{
        grid-column: span 2;
        text-align: center;
        margin-bottom: 25px;
    }
}
@media (min-width: 0px) and (max-width: 569px) {
    .container {
        width: 100%;
    }
    .top-nav ul.left li {
        margin-right: 20px;
    }
    .top-nav ul li a {
        font-size: 11px;
        line-height: 27px;
    }
    .logo a img {
        height: 20px;
    }
    .jumbo-n .container{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .jumbo-n .big-img {
        margin-bottom: 10px;
    }
    .jumbo-n .big-img a::after{
        background: linear-gradient(180deg, rgb(255 255 255 / 0%) 45%, rgb(0 0 0 / 85%) 89%);
    }
    .jumbo-n .big-img a img {
        height: 230px;
    }
    .jumbo-n .big-img a .text .title {
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 16px;
    }
    .jumbo-n .big-img a .text .disc{
        display: none;
    }
    .jumbo-n .trending .big-img a .text .title{
        margin-bottom: 6px;
    }
    .jumbo-n .trending .big-img a .text .disc {
        width: 100%;
        display: block;
    }
    .jumbo-n .two-column{
        grid-template-columns: 1fr;
    }
    .jumbo-n .two-column::after{
        content: none;
    }
    .jumbo-n .box-b{
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 18px;
    }
    .jumbo-n .box-b:first-child{
        margin-bottom: 20px;
    }
    .jumbo-n .box a p {
        font-size: 12px;
        line-height: 12px;
    }
    .pop-video h2{
        font-size: 13px;
        padding: 0px 0px 12px;
    }
    .pop-video .black-box {
        padding: 14px 14px;
    }
    .pop-video .video-carousel a::after{
        background: linear-gradient(180deg, rgb(255 255 255 / 0%) 30%, rgb(0 0 0 / 100%) 96%);
    }
    .pop-video .video-carousel .play{
        width: 27px;
        padding: 2px;
        top: 5px;
        left: 8px;
    }
    .pop-video .video-carousel .tag{
        top: 7px;
        right: 8px;
        padding: 1px 7px 1px;
    }
    .pop-video .video-carousel .tit{
        font-size: 12px;
        line-height: 13px;
        bottom: 10px;
    }
    .pop-video .video-carousel .dis{
        display: none;
    }
    .home-categ .padding-border {
        padding-bottom: 22px;
    }
    .home-categ .three-col{
        grid-template-columns: 1fr;
        row-gap: 16px;
    }
    .home-categ .widget-box{
        grid-column: span 1;
        padding: 0px;
    }
    .home-categ h3 {
        font-size: 15px;
        margin-bottom: 13px;
    }
    .home-categ h3 a {
        font-size: 12px;
    }
    .home-categ .pro-arti {
        display: grid;
        grid-template-columns: 2fr 3fr;
        column-gap: 16px;
    }
    .home-categ .pro-arti .thumb{
        height: 100%;
    }
    .home-categ .pro-arti .tit {
        font-size: 13px;
        line-height: 13px;
        margin-top: 0px;
    }
    .home-categ .pro-arti .dis {
        font-size: 12px;
        line-height: 12px;
        margin-top: 7px;
    }
    .home-categ .pro-arti .date {
        font-size: 11px;
    }
    .home-categ .pro-arti .more-arti li a {
        min-height: 40px;
    }
    .home-categ .more-arti li{
        height: 40px;
    }
    .weather-widget .location {
        font-size: 14px;
        padding: 8px 15px;
    }
    .weather-widget .weather-main{
        margin-top: 0%;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        column-gap: 19px;
    }
    .weather-widget .weather-main p {
        font-size: 14px;
        line-height: 10px;
    }
    .weather-widget .weather-aci {
        padding-bottom: 8px;
    }
    .weather-widget .weather-aci .aci-box{
        position: relative;
    }
    .weather-widget .weather-aci .aci-box::after{
        content: '';
        border-right: 1px dotted rgb(17 17 17 / 50%);
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 1px;
        height: 100%;
    }
    .weather-widget .weather-aci .aci-box:last-child:after{
        border: 0px;
    }
    .weather-widget .weather-aci .aci-box img {
        max-width: 28px;
        max-height: 26px;
        margin-bottom: 1px;
    }
    .home-categ .three-col-equal .pro-arti {
        position: relative;
        grid-template-columns: 1fr;
    }
    .home-categ .three-col-equal .pro-arti .thumb {
        height: 165px;
        margin-bottom: 18px;
    }
    .home-categ h3 span.small-txt{
        font-size: 13px;
        grid-column: span 2;
    }
    .pricelist-carousel .item p{
        font-size: 11px;
        margin-top: 5px;
    }
    .psx-carousel .item {
        padding: 6px 9px;
    }
    .psx-carousel .item .psx-tit {
        font-size: 13px;
        margin-bottom: 1px;
    }
    .psx-carousel .item .psx-value {
        font-size: 12px;
    }
}