/*Style sheet*/
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow-x: hidden;
  color: var(--black);
}
body.lock {
    height:100vh;
    overflow:hidden;
}
h1, h2, h3, h4, h5, h6{
  margin: 0px;
}
ul {
    padding: 0px;
    margin: 0px;
}
p {
    margin: 0px;
}
a {
    text-decoration: none;
}
.mg-top-70 {
    margin-top: 70px;
}
.mg-top-60 {
    margin-top: 60px;
}
.mg-top-50 {
    margin-top: 50px;
}
.mg-top-40 {
    margin-top: 40px;
}
.mg-top-30 {
    margin-top: 30px;
}
.mg-bot-50 {
    margin-bottom: 50px;
}
.mg-bot-40 {
    margin-bottom: 40px;
}
.mg-bot-25 {
    margin-bottom: 25px;
}
.mg-bot-15 {
    margin-bottom: 15px;
}
.mg-bot-10 {
    margin-bottom: 10px;
}
.font-serif {
    font-family: serif;
}
.container {
  width: 1020px;
  margin: auto;
}
.container-cus::after {
    content: '';
    display: block;
    clear: both;
}
/*home*/
.top-nav{
  background-color: #000;
}
.top-nav .container{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.top-nav ul{
  display: flex;
}
.top-nav ul li{
  display: block;
}
.top-nav ul li a{
  color: white;
  font-size: 15px;
  font-weight: 500;
  display: block;
  line-height: 32px;
}
.top-nav ul.left{

}
.top-nav ul.left li{
  margin-right: 32px;
}
.top-nav ul.left li a{

}
.top-nav ul.right{

}
.top-nav ul.right li{

}
.top-nav ul.right li a{

}
.top-nav ul.right li a img{
  display: inline-block;
  margin-left: 15px;
  margin-top: -5px;
}
/*logo*/
.logo{
  text-align: center;
  padding: 32px 0px;
}
.logo a{

}
.logo a img{

}
/*navbar*/
.navbarc{

}
.navbarc ul{
  border-top: 1px solid #333;
  border-bottom: 2px solid #333;
  display: flex;
  width: 100%;
}
.navbarc ul li{
  display: block;
  margin-right: 24px;
}
.navbarc ul li a{
  display: block;
  font-size: 14px;
  color: black;
  line-height: 20px;
  padding-top: 7px;
  padding-bottom: 5px;
}
.navbarc ul li a img{

}
.navbarc ul li a:hover{
  color: #ab1f22;
}
.navbarc ul li.nav-opener{
  position: relative;
}
.navbarc ul li.nav-opener::after{
  content: '';
  border-right: 1px dotted;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -4px;
  margin: auto;
  height: 24px;
}
.navbarc ul li.nav-opener a{
  padding: 1.5px 0px;
}
.navbarc ul li.nav-opener a img{

}
.navbarc ul li.lang-btn{
  margin-left: auto;
  margin-right: 0px;
  order: 2;
  background: black;
}
.navbarc ul li.lang-btn a{
  color: white;
  padding: 5.5px 27px;
  font-size: 15px;
}
/*jumbo-n*/
.jumbo-n{
  margin-top: 22px;
}
.jumbo-n img{
  width: 100%;
}
.jumbo-n .container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;
}
.jumbo-n .latest{
  position: relative;
}
.jumbo-n .latest::after{
  content: '';
  height: calc(100% - 34px);
  border-right: 1px dotted rgb(17 17 17 / 50%);
  position: absolute;
  top: 34px;
  right: -21px;
}
.jumbo-n .trending{

}
.jumbo-n .heading{
  font-size: 20px;
  margin-bottom: 10px;
}
.jumbo-n .big-img{
  position: relative;
  margin-bottom: 28px;
}
.jumbo-n .big-img a{
  color: #333;
}
.jumbo-n .big-img a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(0 0 0 / 20%);
}
.jumbo-n .big-img a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgb(255 255 255 / 0%) 60%, rgb(0 0 0 / 85%) 89%);
}
.jumbo-n .big-img a img{
  height: 310px;
  object-fit: cover;
}
.jumbo-n .big-img a .text{
  position: absolute;
  bottom: 0px;
}
.jumbo-n .big-img a .text .title{
  position: relative;
  z-index: 2;
  color: white;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  padding: 0px 16px;
  margin-bottom: 9px;
}
.jumbo-n .big-img a .text .disc{
  position: relative;
  z-index: 2;
  color: white;
  font-size: 13px;
  line-height: 17px;
  padding: 0px 16px;
  margin-bottom: 14px;
  width: 80%;
}
.jumbo-n .trending .big-img a .text .disc{
  width: 100%;
}
.jumbo-n .two-column{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  position: relative;
}
.jumbo-n .two-column::after{
  content: '';
  width: 1px;
  height: calc(100% + 10px);
  border-right: 1px dotted rgb(17 17 17 / 50%);
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
}
.jumbo-n .box-b{
  display: grid;
  row-gap: 20px;
}
.jumbo-n .box{
  position: relative;
}
.jumbo-n .box::after{
  content: '';
  border-bottom: 1px dotted rgb(17 17 17 / 50%);;
  position: absolute;
  left: 0px;
  bottom: -10px;
  width: 100%;
}
.jumbo-n .box a{
  display: grid;
  grid-template-columns: 1fr 86px;
  grid-gap: 36px;
  color: #333;
  align-items: center;
}
.jumbo-n .box a p{
  font-size: 14px;
  line-height: 17px;
}
.jumbo-n .box a img{

}
/*video box*/
.pop-video{
  margin-top: 38px;
}
.pop-video .black-box{
  background-color: #222222;
  border-radius: 10px;
  padding: 22px 35px 26px;
}
.pop-video h2{
  color: white;
  font-size: 14px;
  padding: 0px 0px 18px;
  margin-left: 2px;
}
.pop-video .video-carousel{

}
.pop-video .video-carousel .item{
  border-radius: 5px;
  overflow: hidden;
}
.pop-video .video-carousel a{
  position: relative;
  display: block;
}
.pop-video .video-carousel a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(0 0 0 / 20%);
}
.pop-video .video-carousel a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgb(255 255 255 / 0%) 50%, rgb(0 0 0 / 100%) 96%);
}
.pop-video .video-carousel .thumb{

}
.pop-video .video-carousel .play{
  width: 42px;
  padding: 4px;
  background: rgb(255 255 255 / 35%);
  position: absolute;
  top: 16px;
  left: 14px;
  border-radius: 32px;
}
.pop-video .video-carousel .tit{
  position: absolute;
  bottom: 35px;
  z-index: 1;
  color: white;
  font-size: 13px;
  padding: 0px 14px;
}
.pop-video .video-carousel .dis{
  position: absolute;
  bottom: 17px;
  z-index: 1;
  color: white;
  font-size: 11px;
  padding: 0px 14px;
}
.pop-video .video-carousel .tag{
  position: absolute;
  top: 27px;
  right: 18px;
  background: rgb(34 34 34 / 90%);
  color: white;
  font-size: 11px;
  padding: 3px 10px 2px;
  border-radius: 2px;
}
/*home-categ*/
.home-categ{
  margin-top: 34px;
}
.home-categ h3{
  font-size: 20px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}
.home-categ h3 span.small-txt{
  font-weight: 400;
  font-size: 16px;
}
.home-categ h3 a{
  text-transform: uppercase;
  color: black;
  font-size: 17px;
}
.home-categ .three-col{
  display: grid;
  grid-template-columns: 30% auto 30%;
  column-gap: 30px;
}
.home-categ .three-col-equal{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}
.home-categ .three-col-equal .pro-arti{
  position: relative;
}
.home-categ .three-col-equal .pro-arti::after{
  content: '';
  position: absolute;
  height: 100%;
  border-right: 1px dotted rgb(17 17 17 / 50%);
  top: 0px;
  right: -21px;
}
.home-categ .three-col-equal .pro-arti:last-child:after{
  border: 0px;
}
.home-categ .padding-border{
  padding-bottom: 34px;
  border-bottom: 2px solid #111;
}
.home-categ .pro-arti{

}
.home-categ .pro-arti .thumb{
  width: 100%;
}
.home-categ .pro-arti .tit{
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
  margin-top: 20px;
}
.home-categ .pro-arti .dis{
  font-size: 14px;
  line-height: 17px;
  margin-top: 12px;
  text-align: justify;
}
.home-categ .pro-arti .date{
  margin-top: 10px;
  font-size: 14px;
}
.home-categ .pro-arti .date a{
  font-weight: 500;
  color: black;
  padding-right: 12px;
  margin-right: 12px;
  position: relative;
}
.home-categ .pro-arti .date a::after{
  content: '';
  position: absolute;
  width: 1px;
  height: 14px;
  background: black;
  right: -1px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}
.home-categ .pro-arti .date span{

}
.home-categ .pro-arti .more-arti{
  margin-top: 17px;
}
.home-categ .pro-arti .more-arti li a{
  min-height: 50px;
}
.home-categ .more-arti{
  display: grid;
  position: relative;
}
.home-categ .more-arti::after{
  content: '';
  border-bottom: 1px dotted rgb(17 17 17 / 50%);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}
.home-categ .more-arti li{
  position: relative;
  display: grid;
}
.home-categ .more-arti li::after{
  content: '';
  border-bottom: 1px dotted rgb(17 17 17 / 50%);
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
.home-categ .more-arti li a{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  height: 100%;
  font-size: 14px;
  color: #333;
  column-gap: 14px;
  text-overflow: ellipsis;
  line-height: 13px;
}
.home-categ .more-arti li a::before{
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 16px;
  background: #cdcdcd;
}
.home-categ .widget-box{

}
/*weather widget*/
.weather-widget{
  background-color: #f1f1f1;
  height: 100%;
  border-radius: 12px;
  position: relative;
}
.weather-widget .location{
  font-weight: 500;
  font-size: 16px;
  padding: 14px 22px;
}
.weather-widget .weather-main{
  text-align: center;
  margin-top: 6%;
  margin-bottom: 11%;
}
.weather-widget .weather-main .img{
  mix-blend-mode: multiply;
  margin-bottom: 20px;
}
.weather-widget .weather-main p{
  font-size: 17px;
  font-weight: 600;
}
.weather-widget .weather-main p sup{
  font-size: 21px;
  font-weight: 600;
  margin-right: -5px;
  margin-top: -10px;
  vertical-align: revert;
}
.weather-widget .weather-main p span{
  display: block;
  font-size: 50px;
  font-weight: 900;
  line-height: 50px;
}
.weather-widget .weather-aci{
  bottom: 28px;
  left: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.weather-widget .weather-aci .aci-box{

}
.weather-widget .weather-aci .aci-box img{
  max-width: 29px;
  max-height: 29px;
  margin-bottom: 4px;
}
.weather-widget .weather-aci .aci-box p{
  font-weight: 500;
  font-size: 18px;
}
.weather-widget .weather-aci .aci-box p sup{

}
.weather-widget .weather-aci .aci-box p span{
  
}
/*pricelist carousel*/
.pricelist-carousel{

}
.pricelist-carousel .item{

}
.pricelist-carousel .item img{
  border: 1px solid #d3d3d3;
}
.pricelist-carousel .item p{
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
}
/*directory widget*/
.directory-widget{
  height: 100%;
  position: relative;
  overflow: auto;
}
.directory-widget::-webkit-scrollbar {
  width: 3px;
}
.directory-widget::-webkit-scrollbar-track {
  background: #fff; 
}
.directory-widget::-webkit-scrollbar-thumb {
  background: #888; 
}
.directory-widget::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.directory-widget-list{
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
.directory-widget a{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  height: 50px;
  background-color: #f1f1f1;
  margin-bottom: 6px;
  border-radius: 3px;
  padding: 0px 17px;
  column-gap: 26px;
  color: #333;
  font-size: 15px;
}
.directory-widget a:last-child{
  margin-bottom: 0px;
}
.directory-widget a img{

}
.directory-widget a span{
  line-height: 16px;
}
/*categ*/
.psx-carousel{

}
.psx-carousel .item{
  background-color: #5c8c5a;
  color: white;
  padding: 14px 16px;
  border-radius: 10px;
}
.psx-carousel .item .psx-tit{
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 5px;
}
.psx-carousel .item .psx-value{
  font-size: 14px;
  line-height: 18px;
}
.psx-carousel .item .psx-value span{
  margin: 0px 8px;
}
.psx-carousel .item .psx-value span img{
  width: 5px;
  display: inline-block;
  vertical-align: baseline;
}
.psx-carousel .item.down{
  background-color: #c9485a;
}
.psx-carousel .item.down .psx-value span img{
  transform: rotate(180deg);
}
/*gold widget*/
.gold-widget{
  background-color: #f1f1f1;
  height: 100%;
  border-radius: 12px;
  position: relative;
}
.gold-widget .more{
  font-weight: 500;
  font-size: 16px;
  padding: 14px 22px;
  display: block;
  color: #111;
  position: relative;
  z-index: 1;
}
.gold-widget .g-box{
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-content: center;
}
.gold-widget .gold-img{
  margin-top: -11px;
  margin-bottom: 22px;
}
.gold-widget .krate{
  font-size: 18px;
  line-height: 23px;
}
.gold-widget .krate span{
  display: block;
  font-size: 27px;
  font-weight: 600;
}
.gold-widget .cost{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    bottom: 38px;
    width: 100%;
}
/*footer*/
.footer{
  margin-top: 40px;
  margin-bottom: 15px;
}
.footer .container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.footer .box{

}
.footer .box .logo-f{
  height: 19px;
  margin-bottom: 20px;
}
.footer .box .f-social{

}
.footer .box .f-social p{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1px;
}
.footer .box .f-social .f-icons{

}
.footer .box .f-social .f-icons a{
  margin-right: 8px;
}
.footer .box .f-social .f-icons a img{
  width: 23px;
}
.footer .box .heading{
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .box .links{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer .box .links li{
  display: block;
  line-height: 20px;
}
.footer .box .links li a{
  color: black;
  font-weight: 300;
  font-size: 14px;
}
.after-footer{

}
.after-footer p{
  position: relative;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  padding: 14px 0px;
  color: #363636;
}
.after-footer p::before{
  content: '';
  border-bottom: 1px dotted rgb(17 17 17 / 50%);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}
/*side nav*/
/*mbl nav*/
body.lock {
  height:100vh;
  overflow:hidden;
}
.side-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 85;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  left: 0%;
  top: 0px;
  visibility: hidden;
}
  .side-nav .box {
    position: absolute;
    width: 260px;
    height: 100vh;
    overflow: auto;
    background-color: #ffffff;
    z-index: 2;
    left: -260px;
    -webkit-transition: left 0.7s linear;
    -o-transition: left 0.7s linear;
    transition: left 0.7s linear;
  }
  .side-nav .box::-webkit-scrollbar {
    width: 5px;
  }
  .side-nav .box::-webkit-scrollbar-track {
    background: #fff; 
  }
  .side-nav .box::-webkit-scrollbar-thumb {
    background: #888; 
  }
  .side-nav .box::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .side-nav .box .none{
    display: none;
  }
  .side-nav .box .block{
    display: block;
  }
      .side-nav .box .norm {
      }
      .side-nav .box .head {
        border-bottom: 4px solid rgb(23 116 178);
        padding: 10px 25px;
        overflow: hidden;
        text-align: center;
      }
          .side-nav .box .head img.mbl-nav-opener {
              display:none;
          }
          .side-nav .box .head img {
              display: inline-block;
              width: 19px;
              margin-top: 4px;
              margin-right: 16px;
          }
              .side-nav .box .head img.mbl-logo {
                width: 98px;
                margin-left: 10px;
                box-shadow: 0px 2px 8px rgb(17 17 17 / 29%);
                border-radius: 11px;
                padding: 4px 6px;
              }
      .side-nav .box ul {
        border-bottom: 0px solid #e4e4e4;
        padding: 10px 26px;
      }
          .side-nav .box ul li {
              display: block;
          }
              .side-nav .box ul li a {
                display: block;
                padding: 12px 0px;
                color: #171717;
                font-size: 15px;
                font-weight: 500;
                position: relative;
              }
              .side-nav .box ul li a::after{
                content: '';
                border-bottom: 1px dotted rgb(17 17 17 / 50%);
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 100%;
              }
              .side-nav .box ul li a svg{
                float: right;
                color:#333;
              }
              .side-nav .box .categ{
                display: none;
              }
              .side-nav .box .categ.block{
                display: block;
              }
              .side-nav .box .categ .backto{
                text-align: center;
                background: #323594;
                color: white;
                font-size: 17px;
                position: relative;
                padding: 6px 0px;
              }
              .side-nav .box .categ .backto svg{
                position: absolute;
                left: 16px;
                width: 40px;
                height: 26px;
              }
              .side-nav .box .categ p.big{
                padding: 15px 40px;
                padding-bottom: 0px;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: -16px;
              }
              .side-nav .box .categ ul{

              }
              .side-nav .box .categ ul li{

              }
              .side-nav .box .categ ul li a{

              }
              .side-nav .box .categ ul li a:hover{

              }
            .side-nav-opened {    
                visibility: visible;
                opacity:1;
            }
            .side-nav-opened::after {
                left:0%;
            }
                .side-nav-opened .box {
                    left:0%;
                }